<div id="links-wrapper">
    <div class="page-header" style="padding-top:150px; width: 600px; margin: 0 auto;">
        <table class="table table-striped">
            <caption class="text-info">Links</caption>
            <thead>
                <tr>
                    <th>URL</th><th>Categories</th><th>Entry Date</th>
                </tr>
            </thead>
            <tbody> 
            <tr ng-show="lCtrl.showForm">
                <td>
                    <input type="text" ng-model="lCtrl.reg_url">
                </td>
                <td>

<div class='btn-group' ng-class='{open: open}'>
    <button class='btn btn-xs btn-info dropdown-toggle' data-ng-click='open=!open;openDropdown()'>Categories<span class='caret'></span></button>
    <ul class='dropdown-menu' aria-labelledby='dropdownMenu'>
        <li ng-repeat="cat in lCtrl.categories">
            <a href="" ng-click="lCtrl.clickItem(cat.id)">
                {{cat.name}}
                <i class="fa fa-check pull-right" ng-show="lCtrl.isChecked(cat.id)"></i>
            </a>
        </li>
    </ul>
</div>    
                   
 
                </td>
            </tr>
            <tr ng-repeat="link in lCtrl.links">
                <td>{{link.url}}</td>
                <td></td>
                <td>{{link.entry_date|date}}</td>
            </tr>
            </tbody>
        </form>
    </div>

    <script src="dropdown_code.js"></script>
</div>
