<div id="contacts-wrapper" class="container-fluid well">

<div class="row">
    <div class="col-md-9">
        <div id="toolbar">
            <div class="btn-toolbar">
                <a ng-hide="cCtrl.showContactForm" ng-click="cCtrl.swapForm('showContactForm')" 
                class="btn btn-lg btn-default" href="">
                    <i class="fa fa-plus-circle text-success"></i>
                </a>
                <a ng-show="cCtrl.showContactForm" ng-click="cCtrl.swapForm('showContactForm')" 
                class="btn btn-lg btn-default" href="">
                    <i class="fa fa-remove  text-danger"></i>
                </a>
                <a class="btn btn-lg btn-default" href=""
                ng-click="cCtrl.deleteXItems('contacts')"
                ng-show="cCtrl.hasXToDel('contacts')">
                    <i class="fa fa-trash-o text-danger"></i>
                </a>
            </div>
        </div>
        <table class="table table-striped" >
            <caption>
            <form class="form form-inline well" ng-show="cCtrl.showContactForm">
                    
                    <input ng-model="cCtrl.fullName" type="text"
                    style="width:350px;" class="form-control"
                    placeholder="enter full name">
                    <input ng-model="cCtrl.email" type="text"
                    style="width:300px;" class="form-control"
                    placeholder="example@example.com">

                    <div class='btn-group' ng-class='{open: cCtrl.menuOpen}' body-click="lCtrl.closeMenu()">
                    <button class='btn btn-sm btn-info'
                    ng-click='cCtrl.swapMenu()'>Groups<span class='caret'></span>
                    </button>
                    <ul class='dropdown dropdown-menu'>
                        <li ng-repeat="gr in cCtrl.groups">
                            <a href="" ng-click="cCtrl.clickXGroup('', gr.id)">
                                {{gr.name}}
                                <i style="color:black;" class="fa fa-check pull-right" 
                                ng-show="cCtrl.isXChecked('', gr.id)"></i>
                            </a>
                        </li>
                    </ul>
                    </div>
                    <a class="btn btn-sm btn-success"
                    ng-click="cCtrl.submitContact()">
                       OK 
                    </a>
            </form>
            <hr>
            </caption>
            <thead>
                <tr>
                    <th>#</th><th>Full Name</th><th>Email</th><th>Groups</th>
                </tr>
            </thead>
            <tbody> 
                <tr ng-repeat="contact in cCtrl.contacts" class="hoveror">
                    <td class="col-md-1">
                        <div class="input-group input-group-sm" style="max-width:30px; min-height: 27px;"
                        ng-hide="cCtrl.currentContactEdit == contact.id">
                            <span class="input-group-btn">
                                <input type="checkbox"
                                ng-click="cCtrl.addXToDel('contacts', contact.id)">
                            </span>
                            <div class="hiddenActions hoveror"
                            style="width:10px; padding-left:10px;">
                                <span class="input-group">
                                    <a class="btn btn-sm"
                                    ng-click="cCtrl.swapXEditForm('Contact',
                                    contact.id)">
                                        <i style="padding-top: 3px;" class="fa fa-pencil text-info"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div ng-show="cCtrl.currentContactEdit == contact.id">
                            <a class="btn"
                            ng-click="cCtrl.swapXEditForm('Contact', '')">
                                <i class="fa fa-ban text-danger" style="padding-top: 3px;"></i>
                            </a>
                        </div>
                    </td>
                    <td class="col-md-4">
                        <div ng-hide="cCtrl.currentContactEdit ==
                        contact.id">{{contact.full_name}}</div>
                        <div ng-show="cCtrl.currentContactEdit == contact.id">
                        <input type="text" class="form-control"
                        ng-model="cCtrl.updatedFullName"
                        >
                        </div>
                    </td>
                    <td class="col-md-4">
                        <div ng-hide="cCtrl.currentContactEdit == contact.id">
                            {{contact.email}}
                        </div>
                        <div ng-show="cCtrl.currentContactEdit == contact.id">
                        <input type="text" class="form-control" ng-model="cCtrl.updatedEmail">
                        </div>
                    </td>
                    <td class="col-md-1">
                        <div ng-repeat="group in contact.groups"
                        ng-hide="cCtrl.currentContactEdit == contact.id">
                            <span class="label label-primary" style="color:black;" >
                                {{group.name}}
                            </span>&nbsp;
                        </div>
                        <div ng-show="cCtrl.currentContactEdit == contact.id">
                            <div class='btn-group' ng-class='{open: cCtrl.menuOpen}' body-click="lCtrl.closeMenu()">
                            <button class='btn btn-sm btn-info'
                            ng-click='cCtrl.swapMenu()'>Groups<span class='caret'></span>
                            </button>
                            <ul class='dropdown dropdown-menu'>
                                <li ng-repeat="group in cCtrl.groups">
                                    <a href=""
                                    ng-click="cCtrl.clickXGroup('Edit', group.id)">
                                        {{group.name}}
                                        <i style="color:black;" class="fa fa-check pull-right"
                                        ng-show="cCtrl.isXChecked('Edit', group.id)"></i>
                                    </a>
                                </li>
                            </ul>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-2">
                        <div ng-hide="cCtrl.currentContactEdit == contact.id">
                        </div>
                        <div ng-show="cCtrl.currentContactEdit == contact.id">
                            <a class="btn btn-success"
                            ng-click="cCtrl.updateContact(contact.id)">
                                Update
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <div id="toolbar">
            <div class="btn-toolbar">
                <a ng-hide="cCtrl.showGroupForm"
                ng-click="cCtrl.swapForm('showGroupForm')" 
                class="btn btn-lg btn-default" href="">
                    <i class="fa fa-plus-circle text-success"></i>
                </a>
                <a ng-show="cCtrl.showGroupForm"
                ng-click="cCtrl.swapForm('showGroupForm')" 
                class="btn btn-lg btn-default" href="">
                    <i class="fa fa-remove text-danger"></i>
                </a>
                <a class="btn btn-lg btn-default" href=""
                ng-click="cCtrl.deleteXItems('groups')"
                ng-show="cCtrl.hasXToDel('groups')">
                    <i class="fa fa-trash-o text-danger"></i>
                </a>
            </div>
        </div>

        <table class="table table-striped">
            <caption>
                <form class="form form-inline well" ng-show="cCtrl.showGroupForm">
                    <input class="form-control" type="text"
                    placeholder="category name" ng-model="cCtrl.groupName"
                    style="width:190px;">
                    <a class="btn btn-xs btn-success"
                    ng-click="cCtrl.submitGroup()">
                        OK
                    </a>
                </form>
                <hr>
            </caption>
            <thead>
                <tr>
                    <th>#</th><th>Groups</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="cCtrl.showGroupForm">
                    <td>
                    </td>
                </tr>
                <tr ng-repeat="group in cCtrl.groups" class="hoveror">
                    <td style="width:20px; display:inline-block;"
                    class="col-md-2">
                        <div ng-hide="cCtrl.currentGroupEdit == group.id">
                        <div class="input-group input-group-sm" style="width:30px; min-height: 27px;">
                            <span class="input-group-btn">
                                <input type="checkbox"
                                ng-click="cCtrl.addXToDel('groups', group.id)">
                            </span>
                            <div class="hiddenActions hoveror"  style="width:10px; padding-left:2px;">
                                <span class="input-group">
                                    <a class="btn btn-sm"
                                    ng-click="cCtrl.swapXEditForm('Group',
                                    group.id)">
                                        <i style="padding-top: 3px;" class="fa fa-pencil text-info"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                        </div>
                        <div ng-show="cCtrl.currentGroupEdit == group.id">
                            <a class="btn"
                            ng-click="cCtrl.swapXEditForm('Group', '')">
                                <i class="fa fa-ban text-danger" style="padding-top: 3px;"></i>
                            </a>
                        </div>
                    </td>
                    <td class="col-md-9">
                        <div ng-hide="cCtrl.currentGroupEdit == group.id">
                            {{group.name}}
                        </div>
                        <div ng-show="cCtrl.currentGroupEdit == group.id">
                            <input type="text" class="form-control"
                            ng-model="cCtrl.updatedGroupName">
                        </div>
                    </td>
                    <td class="col-md-1"ng-show="cCtrl.currentGroupEdit ==
                    group.id">
                            <a class="btn btn-success"
                            ng-click="cCtrl.updateGroup(group.id)">Update</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
