<div id="links-wrapper" style="width: 600px; margin: 0 auto; margin-top:180px;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                Reset password
            </div>
        </div>
        <div class="panel-body" style="padding-top:30px">
            <div ng-show="rCtrl.preReset">
                <div class="form-group" ng-class="{'has-error': rCtrl.er_new_password}">
                    <label for="new_pass">Enter new password</label>
                    <input id="new_pass" type="password" ng-model="rCtrl.new_password" class="form-control">
                    <p class="help-block text-center" ng-show="rCtrl.er_new_password">
                        {{rCtrl.er_new_password}}
                    </p>
                </div>
                <div class="form-group" ng-class="{'has-error': rCtrl.er_re_new_password}">
                    <label for="re_new_pass">Retype new password</label>
                    <input id="re_new_pass" type="password" ng-model="rCtrl.re_new_password" class="form-control">
                    <p class="help-block text-center">
                        {{rCtrl.er_re_new_password}}
                    </p>
                </div>
                <div ng-show="rCtrl.er_non_field_errors" ng-class="{'has-error':
                rCtrl.er_non_field_errors}">
                    <p class="help-block text-center">
                        {{rCtrl.er_non_field_errors}}
                    </p>
                </div>
                <div class="form-group text-center">
                    <a class="btn btn-success" ng-click="rCtrl.resetPassword()">Reset password</a>
                </div>
            </div>
            <div ng-show="rCtrl.loading" class="text-center">
                <i class="fa fa-lg fa-spinner fa-spin"></i>
            </div>
            <div ng-hide="rCtrl.preReset" class="text-center">
                <span class="row">
                    {{rCtrl.message}}
                </span>
                <span class="row">
                    <a href="" ng-click="rCtrl.returnToLogin()">
                        Return to Login page
                    </a>
                </span>
            </div>
        </div>

    </div>
</div>



