<div id="links-wrapper" style="width: 600px; margin: 0 auto; margin-top:180px;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                Reset password
            </div>
        </div>
        <div class="panel-body" style="padding-top:30px">
            <div class="form-group">
                <label for="new_pass">Enter new password</label>
                <input id="new_pass" type="text" ng-model="rCtrl.new_password" class="form-control">
            </div>
            <div class="form-group">
                <label for="re_new_pass">Retype new password</label>
                <input id="re_new_pass" type="text" ng-model="rCtrl.re_new_password" class="form-control">
            </div>
            <div class="form-group text-center">
                <a class="btn btn-success" ng-click="rCtrl.resetPassword()">Reset password</a>
            </div>
            
        </div>

    </div>
</div>



