<div id="links-wrapper" style="width: 600px; margin: 0 auto; margin-top:180px;">

        <div id="loginbox" ng-show="loginCtrl.currentForm == 'loginform'">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <span class="col-xs-2" style="margin-top:6px;">
                            Sign In
                        </span>
                        <span class="col-xs-8">
                        </span>
                        <span class="col-xs-2">
                            <a href="#" ng-click="loginCtrl.swapForm()"
                            class="btn btn-warning">Register</a>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="panel-body" style="padding-top:30px">
                    
                    <form class="form " ng-submit="loginCtrl.login()">
                        
                        <div class="form-group" ng-class="{'has-error':loginCtrl.er_username||loginCtrl.er_non_field_errors}">

                            <div class="input-group" ng-class="{'has-error':loginCtrl.er_username||loginCtrl.er_non_field_errors}">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input ng-model="loginCtrl.loginUsername" type="text" class="form-control" placeholder="username">
                            </div>
                            <p ng-show="loginCtrl.er_username"
                            class="help-block" style="padding-left:50px;">
                                {{loginCtrl.er_username}}
                            </p>
                        </div>
                        
                        <div class="form-group" ng-class="{'has-error':loginCtrl.er_password||loginCtrl.er_non_field_errors}">
                            <div class="input-group" ng-class="{'has-error':loginCtrl.er_password||loginCtrl.er_non_field_errors}">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <input ng-model="loginCtrl.loginPassword" type="password" class="form-control" placeholder="password">
                            </div>
                            <p ng-show="loginCtrl.er_password" class="help-block" 
                            style="padding-left:50px; margin-bottom: 25px;">
                                {{loginCtrl.er_password}}
                            </p>
                            <p ng-show="loginCtrl.er_non_field_errors" class="help-block"
                            style="padding-left:50px; margin-bottom: 25px;
                            margin-top: 30px;">
                                {{loginCtrl.er_non_field_errors}}
                            </p>
                        </div>
                        
                        <div class="" style="text-align:center">
                            <input type="submit" value="Login" class="btn btn-success"/>
                        </div>

                        
                    
                    </form>

                </div>
                <div style="background-color:white;" class="panel-footer text-center">
                
                    <div ng-show="loginCtrl.preEmail">
                        <div ng-hide="loginCtrl.forgotForm">
                            <a href="" ng-click="loginCtrl.swapForgotForm()">Forgot password?</a>
                        </div>
                        <div ng-show="loginCtrl.forgotForm">
                                <p class="help-block">
                                    A reset password link will be sent to the
                                    submitted email.
                                </p>
                            <span class="col-xs-2">
                                <a class="btn btn-xm btn-danger" ng-click="loginCtrl.swapForgotForm()">Cancel</a>
                            </span>
                            <span class="col-xs-8">
                                <input class="form-control" type="text" placeholder="example@example.com"
                                ng-model="loginCtrl.resetEmail">
                            </span>
                            <span class="col-xs-2">
                                <a class="btn btn-info" ng-click="loginCtrl.submitResetEmail()">
                                    Send mail
                                </a>
                            </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div ng-show="loginCtrl.loading">
                        <span>
                            <i class="fa fa-spinner fa-lg fa-spin"></i>
                        </span>
                    </div>
                    <div ng-hide="loginCtrl.preEmail">
                        <span class="text-success" ng-show="loginCtrl.finishRequestWithSuccess">
                            {{loginCtrl.successEmailMessage}}
                            <a class="btn btn-success" ng-click="loginCtrl.resetForms()">
                                OK
                            </a>
                        </span>
                        <span class="text-danger" ng-show="loginCtrl.finishRequestWithFail">
                            {{loginCtrl.failEmailMessage}}
                        <a class="btn btn-danger" ng-click="loginCtrl.resetForms()">
                            OK
                        </a>
                        </span>
                    </div>
                </div><!-- panel-footer ends here -->
            </div><!-- panel ends here -->
<div class="" style="text-align:center">
                            <span class="row"><h6>Login with</h6></span>
                            <span class="row">

                            <a class="btn btn-danger" href="{{loginCtrl.google_url}}">
                               <i class="fa fa-google"></i>
                            </a>
                            <a class="btn btn-primary">
                               <i class="fa fa-facebook"></i>
                            </a>
                            </span>
                        </div>
                        <hr>
        </div><!-- login div ends here -->

        <div id="signupbox" ng-show="loginCtrl.currentForm == 'registerform' && loginCtrl.notReg">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <span class="col-md-2" style="margin-top:6px;">
                            Register 
                        </span>
                        <span class="col-md-8">
                        </span>
                        <span class="col-md-2">
                            <a href="" ng-click="loginCtrl.swapForm()" class="btn btn-warning">Login</a>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="panel-body">

                    <form id="signupform" ng-submit="loginCtrl.register()" class="form-horizontal" role="form">

                        <div class="form-group" ng-class="{'has-error':loginCtrl.er_reg_username}">
                            <label for="username" class="col-md-2 control-label">Username*</label>
                            <div class="col-md-10">
                                <input ng-model="loginCtrl.reg_username" type="text" class="form-control" name="username" placeholder="Username">
                            </div>
                            <div class="col-md-2"></div>
                            <div class="help-block col-md-10"
                            ng-show="loginCtrl.er_reg_username">
                                {{loginCtrl.er_reg_username}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="fname" class="col-md-2 control-label">First Name</label>
                            <div class="col-md-10">
                                <input ng-model="loginCtrl.reg_fname" type="text" class="form-control" name="fname" placeholder="John">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="lname" class="col-md-2 control-label">Last Name</label>
                            <div class="col-md-10">
                                <input ng-model="loginCtrl.reg_lname" type="text" class="form-control" name="lname" placeholder="Doe">
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error':loginCtrl.er_reg_email}">
                            <label for="email" class="col-md-2 control-label">Email*</label>
                            <div class="col-md-10">
                                <input ng-model="loginCtrl.reg_email" type="text" class="form-control" name="email" placeholder="example@example.com">
                            </div>
                            <div class="col-md-2"></div>
                            <div class="help-block col-md-10" ng-show="loginCtrl.er_reg_email">
                                {{loginCtrl.er_reg_email}}
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error':loginCtrl.er_reg_password}">
                            <label for="password" class="col-md-2 control-label">Password*</label>
                            <div class="col-md-10">
                                <input ng-model="loginCtrl.reg_password" type="password" class="form-control" name="password" placeholder="*****">
                            </div>
                            <div class="col-md-2"></div>
                            <div class="help-block col-md-10" ng-show="loginCtrl.er_reg_password">
                                {{loginCtrl.er_reg_password}}
                            </div>
                        </div>

                        <div class="col-sm-12 controls" style="text-align:center;">
                            <input type="submit" value="Register" class="btn btn-success" />
                        </div>

                    </form>

                </div>

            </div>
        </div><!-- signup div ends here -->
        <div class="well well-bg" ng-hide="loginCtrl.notReg">
            <p class="text-success"> Registration successful!<br>An email has
            been sent to <strong>{{loginCtrl.regEmail}}</strong> in order to activate the
            account.</p>
            <button class="btn btn-info"
            ng-click="loginCtrl.swapFormAndNoMessage()">Login</button>
        </div>


</div>
