<div id="links-wrapper">
    <div class="page-header" style="padding-top:150px; width: 600px; margin: 0 auto;">
        <div class="panel panel-default">
            <div class="panel-heading">
               <div class="panel-title">Sign In</div>
            </div>
            <div class="panel-body" style="padding-top:30px">
                <form class="form form-horizontal">
                    <div class="input-group" style="margin-bottom: 25px">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="username">
                    </div>
                    <div class="input-group" style="margin-bottom: 25px">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" placeholder="password">
                    </div>
                    <div class="col-sm-12 controls" style="padding-left:50px;">
                        <a href="#/" class="btn btn-success">Login  </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
