.form-control::-webkit-input-placeholder {
    color:#96918A;
}

.help-block{
    font-size: 15px;
}

label{
    font-size: 14px;
}
.table .dropdown-menu {
    background-color:yellow;
}
.table .dropdown-menu a{
    color:lime;
}
.table .dropdown-menu a:visited{
    color:black;
    background-color:yellow;
}
.checked1{
    background-color:lime;
    color:white;
}

.hiddenActions{
    display: none;
}

.hoveror:hover .hiddenActions{
    display: block;
}
